node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# Dev leftover files
all_ids.txt
ids_with_url.txt
find_missing_urls.js
